<form class="profil" action="{{url_for('modifier_profil', id=utilisateur['utilisateur_id'])}}" method="post">
    {% if utilisateur['denomination'] %}
    <a href="{{url_for('log_in', id=2, origine=request.path.replace('/', '\/'))}}">{{utilisateur['denomination']}}</a>
    <div class="coordonnees">
        {% if utilisateur['utilisateur_id']==session['id'] %}
        <a class="telephone"><input type="text" name="telephone" placeholder="{{utilisateur['telephone']}}"></a>
        <a class="email"><input type="text" name="email" placeholder="{{utilisateur['email']}}"></a>
        <a class="site"><input type="text" name="site" placeholder="{{utilisateur['site']}}"></a>
        <button type="submit">Modifier</button>
        {% else %}
        <a class="telephone" href="tel:{{utilisateur['telephone']}}">{{utilisateur['telephone']}}</a>
        <a class="email" href="mailto:{{utilisateur['email']}}">{{utilisateur['email']}}</a>
        <a class="site" href="{{utilisateur['site']}}" target="_blank">{{utilisateur['site']}}</a>
        {% endif %}
    </div>
    {% else %}
    <img src="{{url_for('static', filename='logocompte.png')}}" width="200" height="200">
    <h1>{{utilisateur['prenom']}} {{utilisateur['nom']}}</h1>
    {% endif %}
    <div class="stats">
        <div class="stat">
            <h2>{{utilisateur['posts']}}</h2>
            <p>Posts</p>
        </div>
        <div class="stat">
            <h2>{{utilisateur['commentaires']}}</h2>
            <p>Commentaires</p>
        </div>
        <div class="stat">
            <h2>{{utilisateur['avis']}}</h2>
            <p>Avis</p>
        </div>
    </div>
</form>